
body {
    background-image:url(../imgenRu/aquiles-héroe-griego-de-la-guerra-troya-va-luchar-contra-troy-ejemplo-generado-por-ordenador-d-con-149071359.jpg);
    

}
#principal h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: none;
	color: red;
	padding-top: 1em;
	font-weight: normal;
	margin-bottom: 20px;
}
